@use "../../styles/mixins" as *;

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  @include glass-card;
  width: 100%;
  color: white;
  padding: 5px;
  box-sizing: border-box;

  .iconsLeft {
    display: flex;
    gap: 5px;
    justify-self: left;
    align-items: center;

    .searchBox {
      background-color: rgb(255, 255, 255, 0.3);
      padding: 2.5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      height: 2rem;
      width: 13rem;

      input {
        background: transparent;
        border: none;
        outline: none;
        width: 11rem;
        color: white;
      }

      .icon {
        margin-right: 0;
      }

      button {
        display: none;
      }
    }
  }

  .logo {
    justify-self: center;
    font-size: 23px;
    font-weight: 800;
    color: rgb(255, 255, 255, 0.7);
  }

  .iconsRight {
    display: flex;
    align-items: center;
    justify-self: right;
    gap: 5px;
  }
}

.iconContainer {
  background-color: rgb(255, 255, 255, 0.3);
  width: fit-content;
  height: fit-content;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
