* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #f964be, #b09dd6, #7f81e5);
  background-attachment: fixed;
  font-family: sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
