@use "../../../../styles/tokens" as *;
@use "../../../../styles/mixins" as *;

.boardTitleContainer {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: $spacing-md;
  color: $color-text-primary;

  .iconContainer {
    @include icon-container;

    .star {
      color: rgb(255, 204, 0);
    }
  }

  .title {
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
    letter-spacing: $letter-spacing;
    margin-right: $spacing-md;
  }

  .addPersonButton {
    margin-left: auto;
  }

  .menuContainer {
    :global(.MuiIconButton-root) {
      color: $color-text-primary !important;
    }
  }
}
