@use "../../../../styles/tokens" as *;
@use "../../../../styles/mixins" as *;

.container {
  display: flex;
  width: max-content;

  .listsContainer {
    display: flex;
  }

  .addList {
    display: flex;
    background-color: $color-bg-glass-muted;
    width: fit-content;
    min-width: max-content;
    height: fit-content;
    padding: $spacing-sm;
    padding-right: $spacing-md;
    border-radius: $radii-sm;
    align-items: center;
    justify-content: center;
    color: $color-text-primary;
    cursor: pointer;
    &:hover {
      background-color: $color-bg-glass-muted-hover;
    }
  }

  .addingList {
    height: fit-content;
    width: $list-width;
    background-color: $color-bg-list;
    padding: $spacing-md;
    box-shadow: $shadow-list;
    border-radius: $radii-md;

    input {
      @include input-default;
      color: $color-text-black;
      width: 100%;
      padding: $spacing-sm;
      font-size: $font-size-lg;
    }

    .addingListButtons {
      display: flex;
      align-items: center;
      gap: $spacing-sm;

      .addListConfirmButton {
        @include button-default;
      }

      .icon {
        margin-top: $spacing-xs;
        cursor: pointer;
      }
    }
  }
}
